<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Awesome Website</title>
    </head>
    <body>
        {{> header}}
        <h3>{{ screamIt welcomeNote}}</h3>
        {{> footer}}
    </body>
</html>